.page-container-bg-solid .theme-panel, .page-content-white .theme-panel{
    display: none;
}
.page-content-white .page-title {
    margin: 25px 0;
    font-size: 20px;
    font-weight: 300;
    color: #000;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle>i {
    transform: rotate(180deg);
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover, .page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle {
    background-color: #a70000;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover>i, .page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle>i {
    color: #fff;
}

.order-form{
    background: #fff;
    border-radius: 5px;
}
.order-form input,
.order-form select{
    border-bottom: 1px solid #8c8c8c;
    border-width: 0 0 1px 0;
    border-radius: 0px;
}
.btn-danger{
    background: #a70000;
    font-size: 14px;
    line-height: 18px;
    padding: 6px 25px;
}
.order-data-tabel td a{
    text-decoration: none;
    color: #000;
    margin: 0 5px;
}
.order-data-tabel .fa-level-down{
    transform: rotate(90deg);
    color: #84ceea;
}
.order-data-tabel .fa-eye{
    color: #e6cb69;
}
.order-data-tabel .fa-pencil{
    color: #3a8a3d;
}
.order-data-tabel .fa-trash-o{
    color:  #a70000;
}
.order-data-tabel tr:hover{
    background: #fff;
}
.dashboard-stat .details .desc {
    font-size: 13px;
}
.dashboard-stat{
    margin-bottom: 0;
}
.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
    color: #6b788b;
}
.login-input input{
    border-radius: 0px;
}
.user-login-5 .login-container>.login-footer .login-social a:hover {
    color: #a70000;
    text-decoration: none;
}
.order-form .form-horizontal{
    overflow: hidden;
}

/*product form*/

.btn-file {
    position: relative;
    overflow: hidden;
    /*margin:0 0 20px;*/
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* jquery.Jcrop.css v0.9.12 - MIT License */
/*
  The outer-most container in a typical Jcrop instance
  If you are having difficulty with formatting related to styles
  on a parent element, place any fixes here or in a like selector

  You can also style this element if you want to add a border, etc
  A better method for styling can be seen below with .jcrop-light
  (Add a class to the holder and style elements for that extended class)
*/
.jcrop-holder {
    direction: ltr;
    text-align: left;
    /* IE10 touch compatibility */
    -ms-touch-action: none;
}
/* Selection Border */
.jcrop-vline,
.jcrop-hline {
    background: #ffffff url("Jcrop.gif");
    font-size: 0;
    position: absolute;
}
.jcrop-vline {
    height: 100%;
    width: 1px !important;
}
.jcrop-vline.right {
    right: 0;
}
.jcrop-hline {
    height: 1px !important;
    width: 100%;
}
.jcrop-hline.bottom {
    bottom: 0;
}
/* Invisible click targets */
.jcrop-tracker {
    height: 100%;
    width: 100%;
    /* "turn off" link highlight */
    -webkit-tap-highlight-color: transparent;
    /* disable callout, image save panel */
    -webkit-touch-callout: none;
    /* disable cut copy paste */
    -webkit-user-select: none;
}
/* Selection Handles */
.jcrop-handle {
    background-color: #333333;
    border: 1px #eeeeee solid;
    width: 7px;
    height: 7px;
    font-size: 1px;
}
.jcrop-handle.ord-n {
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
    top: 0;
}
.jcrop-handle.ord-s {
    bottom: 0;
    left: 50%;
    margin-bottom: -4px;
    margin-left: -4px;
}
.jcrop-handle.ord-e {
    margin-right: -4px;
    margin-top: -4px;
    right: 0;
    top: 50%;
}
.jcrop-handle.ord-w {
    left: 0;
    margin-left: -4px;
    margin-top: -4px;
    top: 50%;
}
.jcrop-handle.ord-nw {
    left: 0;
    margin-left: -4px;
    margin-top: -4px;
    top: 0;
}
.jcrop-handle.ord-ne {
    margin-right: -4px;
    margin-top: -4px;
    right: 0;
    top: 0;
}
.jcrop-handle.ord-se {
    bottom: 0;
    margin-bottom: -4px;
    margin-right: -4px;
    right: 0;
}
.jcrop-handle.ord-sw {
    bottom: 0;
    left: 0;
    margin-bottom: -4px;
    margin-left: -4px;
}
/* Dragbars */
.jcrop-dragbar.ord-n,
.jcrop-dragbar.ord-s {
    height: 7px;
    width: 100%;
}
.jcrop-dragbar.ord-e,
.jcrop-dragbar.ord-w {
    height: 100%;
    width: 7px;
}
.jcrop-dragbar.ord-n {
    margin-top: -4px;
}
.jcrop-dragbar.ord-s {
    bottom: 0;
    margin-bottom: -4px;
}
.jcrop-dragbar.ord-e {
    margin-right: -4px;
    right: 0;
}
.jcrop-dragbar.ord-w {
    margin-left: -4px;
}
/* The "jcrop-light" class/extension */
.jcrop-light .jcrop-vline,
.jcrop-light .jcrop-hline {
    background: #ffffff;
    filter: alpha(opacity=70) !important;
    opacity: .70!important;
}
.jcrop-light .jcrop-handle {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #000000;
    border-color: #ffffff;
    border-radius: 3px;
}
/* The "jcrop-dark" class/extension */
.jcrop-dark .jcrop-vline,
.jcrop-dark .jcrop-hline {
    background: #000000;
    filter: alpha(opacity=70) !important;
    opacity: 0.7 !important;
}
.jcrop-dark .jcrop-handle {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #ffffff;
    border-color: #000000;
    border-radius: 3px;
}
/* Simple macro to turn off the antlines */
.solid-line .jcrop-vline,
.solid-line .jcrop-hline {
    background: #ffffff;
}
/* Fix for twitter bootstrap et al. */
.jcrop-holder img,
img.jcrop-preview {
    max-width: none;
}
.img-wrapper .crop{
    display: none;
}
.margin{
    margin:15px 0;
}
.order-form textarea{
    border-color: #8c8c8c;
}
.order-form #div button{
    display: block;
}
.order-form #div input{
    width: 49%;
    margin: 0px 13px 0 0;
    float: left;
}
.order-form #div .secfield{
    width: 48%;
    float: left;
    margin: 0 0 0 13px;
}
.page-quick-sidebar-wrapper{
    display:none;
}
.errormsg p,
.successmsg p{
    margin: 0;
}
.successmsg{
    overflow: hidden;
    padding: 30px 30px 30px 70px;
    border-top: 5px solid #50b83c;
    border-radius: 3px;
    background: #f4f6f8;
    position: relative;
    margin: 20px 0;
}
.successmsg .tick{
    width: 20px;
    height: 20px;
    border: 2px solid #50b83c;
    background: #fff;
    box-shadow: 0 0 0px 5px rgba(187,229,179,1);
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 30px;
    margin: -10px 0 0;
}
.successmsg .tick:after{
    content: '';
    position: absolute;
    top: 4px;
    left: 3px;
    width: 10px;
    height: 5px;
    border-left: 2px solid #50b83c;
    border-bottom: 2px solid #50b83c;
    transform: rotate(-45deg);
}
.errormsg{
    overflow: hidden;
    padding: 30px 30px 30px 70px;
    border-top: 5px solid #de3618;
    border-radius: 3px;
    background: #f4f6f8;
    position: relative;
    margin: 20px 0;
}
.errormsg .tick{
    width: 20px;
    height: 20px;
    border: 2px solid #de3618;
    background: #fff;
    box-shadow: 0 0 0px 5px rgba(254,173,154,1);
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 30px;
    margin: -10px 0 0;
}
.errormsg .tick:before,
.errormsg .tick:after{
    content: '';
    position: absolute;
    top: 7px;
    left: 3px;
    width: 10px;
    height: 2px;
    border-left: 2px solid #de3618;
    border-bottom: 2px solid #de3618;
    transform: rotate(-45deg);
}
.errormsg .tick:before{
    transform: rotate(45deg);
}
@media only screen and (max-width: 992px) {
    .dashcolum .col-md-2,
    .order-form .col-md-2{
        margin: 10px 0;
    }
    .order-form .btn-danger {
        margin-left: 15px;
    }
}
@media only screen and (max-width: 1300px) {
    .order-form #div input{
        width: 100%;
        margin: 0;
    }
    .order-form #div .secfield{
        width: 100%;
        margin: 0;
    }
}


























.login  .user-login-5 .login-container{
    min-height: 91vh;
    padding: 0 0 60px;
    box-sizing: border-box;
}
.login .user-login-5 .login-container > .login-content{
    min-height: auto;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
    display: table;
    height: 93vh;
}

.inner-hlder{
    display: table-cell;
    vertical-align: middle;
}
.midl-hlder{
    display: inline-block;
    vertical-align: middle;
    padding: 30px;
    overflow: hidden;
    background: #f9f9f9;
    box-shadow: 0 0 13px -4px rgba(0,0,0,0.3);
}





/*........... edit by rizwan..........*/

.Custm-bx{
    overflow: hidden;
    max-width: 1200px;
    margin: 100px auto;
}
.Custm-bx .inner-bx{
    background: #fff;
    padding: 20px 20px 0;
    overflow: hidden;
}
.Custm-bx .inner-bx .well{
    overflow: hidden;
}
.btn.red:not(.btn-outline),
.btn:not(.md-skip).btn-sm,
.Custm-bx .inner-bx .aln-rt{
    float: right;
    margin: 0 0 0 15px;
    text-transform: capitalize;
    background: #5b69c2;
    border-color: #5b69c2;
    background: linear-gradient(180deg,#6371c7,#5563c1);
    border-color: #3f4eae;
    box-shadow: inset 0 1px 0 0 #6774c8,0 1px 0 0 rgba(22,29,37,.05),0 0 0 0 transparent;
    color: #fff;
    fill: #fff;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}
.btn.red:not(.btn-outline){
    float: none;
}
.btn:not(.md-skip).btn-sm{
    float: none;
    margin:0;
}
.Custm-bx .inner-bx .aln-rt.lgt-gray{
    fill: #637381;
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 3.6rem;
    min-width: 3.6rem;
    margin: 0;
    padding: .7rem 1.6rem;
    background: linear-gradient(180deg,#fff,#f9fafb);
    border: 1px solid #c4cdd5;
    box-shadow: 0 1px 0 0 rgba(22,29,37,.05);
    border-radius: 3px;
    line-height: 1;
    color: #212b36;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    transition-property: background,border,box-shadow;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.64,0,.35,1);
    font-size:13px;
    line-height:18px;
    font-weight:400;
}

.Custm-bx .inner-bx .aln-rt.lgt-gray:hover,
.Custm-bx .inner-bx .aln-rt.lgt-gray:focus{
    box-shadow: 0 1px 0 0 rgba(22,29,37,.05);
    border-radius: 3px;
}

.btn.red:not(.btn-outline):hover,
.Custm-bx .inner-bx .aln-rt:hover{
    background: linear-gradient(180deg,#5c6ac4,#4959bd);
    border-color: #3f4eae;
    color: #fff;
    text-decoration: none;
}
.inner-bx.connect .well.connect-bx{
    display: block;
}
.inner-bx.connect .well.disconnect-bx{
    display: none;
}
.inner-bx.disconnect .well.connect-bx{
    display: none;
}
.inner-bx.disconnect .well.disconnect-bx{
    display: block;
}
.inner-bx.disconnect .well.disconnect-bx .btn.purple:not(.btn-outline){
    background: #fcfcfc;
    border-color: #c7d0d9;
    color: #202c28;
}
.Custm-bx .inner-bx button.aln-rt{
    margin: 0 20px 30px 0;
}
.Custm-bx .nav-tabs>li.active>a,
.Custm-bx .nav-tabs>li.active>a:focus,
.Custm-bx .nav-tabs>li.active>a:hover{
    background: none;
    border:none;
}
.Custm-bx .nav-tabs>li.active>a{
    position: relative;
}
.Custm-bx .nav-tabs>li.active>a:after{
    height: 3px;
    width: 100%;
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    background: #432051;
}
.page-header.navbar {
    height: 60px;
    background-color: #00074b;
    padding: 8px 0;
}
.page-footer{
    background-color: #00074b;
    text-align: center;
    color: #fff;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.page-footer .page-footer-inner{
    color: #fff;
    padding: 10px;

}
.page-wrapper{
    min-height: 100vh;
    position: relative;
    padding: 0 0 100px;
}
.page-footer-inner{
    float: none !important;
}

.swal-button--danger{
    border-color: #3f4eae;
    color: #fff;
    text-decoration: none;
    font-size:13px;
    line-height:18px;
    font-weight:400;
    text-transform: capitalize;
    background: linear-gradient(180deg,#6371c7,#5563c1);
    box-shadow: inset 0 1px 0 0 #6774c8, 0 1px 0 0 rgba(22,29,37,.05), 0 0 0 0 transparent;
    fill: #fff;
}
.swal-button--danger:active,
.swal-button--danger:hover{
    background: linear-gradient(180deg,#5c6ac4,#4959bd);
    border-color: #3f4eae;
    color: #fff;
    text-decoration: none;
}
.swal-button--cancel{
    fill: #637381;
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 3.6rem;
    min-width: 3.6rem;
    margin: 0;
    padding: .7rem 1.6rem;
    background: linear-gradient(180deg,#fff,#f9fafb);
    border: 1px solid #c4cdd5;
    box-shadow: 0 1px 0 0 rgba(22,29,37,.05);
    border-radius: 3px;
    line-height: 1;
    color: #212b36;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    transition-property: background,border,box-shadow;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.64,0,.35,1);
    font-size:13px;
    line-height:18px;
    font-weight:400;
}
.swal-button--cancel:hover,
.swal-button--cancel:focus{
    box-shadow: 0 1px 0 0 rgba(22,29,37,.05);
    border-radius: 3px;
}
.swal-title{
    font-size:16px;
}
.swal-text{
    text-align: center;
    font-size: 13px;
    line-height:16px;
}
h1{
    color: #4959bd!important;
    font-weight:400;
}